<h2>My Posts</h2>
<div>
  <label>Post name:</label> <input #postName />
  <label>Post attack:</label> <input #postAttack />
  <button (click)="add(postName.value, postAttack.value); postName.value=''; postAttack.value=''">
    Add
  </button>
</div>
<ul class="posts">
  <li *ngFor="let post of posts" [class.selected]="post === selectedPost" (click)="onSelect(post)">
    <span class="badge">{{post.id}}</span>
    {{post.name}}
    <button class="delete" (click)="delete(post); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedPost">
  <h2>
    {{selectedPost.name | uppercase}} is my post
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
